.main-header{
    height: var(--header-height);
    background-color: var(--c-primary);
    color: #fff;
    margin-bottom: 1.5rem;
}

.title{
    font-weight: normal;
    font-size: 1.4em;
    line-height: 4rem;
    margin-bottom: 0;
}




